In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf', '.ipynb_checkpoints']

In [2]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
max_budget = data.budget.max()
data[data.budget == max_budget]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1158  Gods and Generals  tt0279111

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

      original_title    imdb_id
769  Winnie the Pooh  tt1449283

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
data.describe()['runtime']

count    1890.000000
mean      109.653439
std        18.013641
min        63.000000
25%        97.000000
50%       106.500000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
data.describe()['runtime']

count    1890.000000
mean      109.653439
std        18.013641
min        63.000000
25%        97.000000
50%       106.500000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data['profit']=data['revenue']-data['budget']

In [16]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [17]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id', 'profit']]

        original_title    imdb_id     profit
491  The Warrior's Way  tt1032751 -413912431

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
data[data.profit > 0].imdb_id.count()

1478

In [21]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [22]:
data.release_date = pd.to_datetime(data.release_date)

In [23]:
data[data.release_year == 2008].sort_values(by='profit', ascending=False)[['profit', 'imdb_id', 'original_title', 'release_year']]

,profit,imdb_id,original_title,release_year
600,816921825,tt0468569,The Dark Knight,2008
604,601636033,tt0367882,Indiana Jones and the Kingdom of the Crystal S...,2008
608,557841637,tt0795421,Mamma Mia!,2008
607,501744560,tt0441773,Kung Fu Panda,2008
622,474029371,tt0448157,Hancock,2008
...,...,...,...,...
669,-26054234,tt0811080,Speed Racer,2008
706,-30206504,tt0469903,The Express,2008
683,-37130952,tt0970411,City of Ember,2008
680,-42966317,tt0462465,Outlander,2008
637,-80445998,tt0455824,Australia,2008

In [24]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
data[(data.release_year >= 2012) & (data.release_year <= 2014) ].sort_values(by='profit', ascending=True)[['profit', 'imdb_id', 'original_title', 'release_year']]

          profit    imdb_id                   original_title  release_year
1246  -165710090  tt1210819                  The Lone Ranger          2013
1215   -68351500  tt0790736                         R.I.P.D.          2013
1008   -51893525  tt1374992                      Upside Down          2012
1303   -51337973  tt0884726  Legends of Oz: Dorothy's Return          2013
1236   -45510171  tt1308729               Bullet to the Head          2013
...          ...        ...                              ...           ...
1190   894761885  tt1690953                  Despicable Me 2          2013
975    908561013  tt1074638                          Skyfall          2012
1181  1015439994  tt1300854                       Iron Man 3          2013
1178  1124219009  tt2294629                           Frozen          2013
971   1299557910  tt0848228                     The Avengers          2012

[367 rows x 4 columns]

In [26]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [27]:
genres=set()
for x in data.genres.apply(lambda x: x.split('|')):
 genres |= set(x)
genres

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'Thriller',
 'War',
 'Western'}

In [28]:
genres_counts=[ ( len(data[data.genres.str.contains(x)]) , x) for x in genres]

In [29]:
genres_counts.sort(reverse=True)
genres_counts

[(782, 'Drama'),
 (683, 'Comedy'),
 (597, 'Thriller'),
 (583, 'Action'),
 (416, 'Adventure'),
 (315, 'Crime'),
 (308, 'Romance'),
 (260, 'Family'),
 (248, 'Science Fiction'),
 (223, 'Fantasy'),
 (176, 'Horror'),
 (168, 'Mystery'),
 (139, 'Animation'),
 (64, 'Music'),
 (62, 'History'),
 (58, 'War'),
 (20, 'Western'),
 (8, 'Documentary'),
 (2, 'Foreign')]

In [30]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [31]:
genres_counts2=[ ( len(data[ (data.genres.str.contains(x)) & (data.profit > 0) ]) , x) for x in genres]
genres_counts2.sort(reverse=True)
genres_counts2

[(560, 'Drama'),
 (551, 'Comedy'),
 (446, 'Thriller'),
 (444, 'Action'),
 (337, 'Adventure'),
 (242, 'Romance'),
 (231, 'Crime'),
 (226, 'Family'),
 (195, 'Science Fiction'),
 (188, 'Fantasy'),
 (150, 'Horror'),
 (120, 'Animation'),
 (119, 'Mystery'),
 (47, 'Music'),
 (46, 'History'),
 (41, 'War'),
 (12, 'Western'),
 (7, 'Documentary'),
 (0, 'Foreign')]

In [32]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [33]:
data.groupby(['director']).agg('count')['imdb_id'].sort_values()

director
Aaron Seltzer|Jason Friedberg       1
Liz Friedlander                     1
Louis Leterrier|Corey Yuen Kwai     1
Mabrouk El Mechri                   1
Marcel Langenegger                  1
                                   ..
Steven Spielberg                   10
Shawn Levy                         10
Clint Eastwood                     12
Ridley Scott                       12
Steven Soderbergh                  13
Name: imdb_id, Length: 958, dtype: int64

In [34]:
answer_ls.append(1)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [35]:
data[data.profit > 0].groupby(['director']).agg('count')['imdb_id'].sort_values()

director
Aaron Seltzer|Jason Friedberg      1
Joel Edgerton                      1
Joel Coen|Ethan Coen               1
Ricky Gervais|Matthew Robinson     1
Rob Bowman                         1
                                  ..
Shawn Levy                         9
Clint Eastwood                    10
Steven Soderbergh                 10
Steven Spielberg                  10
Ridley Scott                      12
Name: imdb_id, Length: 774, dtype: int64

In [36]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [37]:
data.groupby(['director']).agg('sum')['profit'].sort_values()

director
Sngmoo Lee               -413912431
James L. Brooks           -96289726
Ron Underwood             -92896027
Peter Hyams               -86956545
David Bowers|Sam Fell     -84540684
                            ...
Michael Bay              2760938960
J.J. Abrams              2839169916
Christopher Nolan        3162548502
David Yates              3379295625
Peter Jackson            5202593685
Name: profit, Length: 958, dtype: int64

In [38]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [39]:
actors=set()
for x in data.cast.apply(lambda x: x.split('|')):
    actors |= set(x)

In [40]:
actors_profit=[ ( data[data.cast.str.contains(x)]['profit'].sum() , x) for x in actors]
actors_profit.sort(reverse=True)

In [41]:
actors_profit[:5]

[(6666245597, 'Emma Watson'),
 (6514990281, 'Daniel Radcliffe'),
 (6408638290, 'Rupert Grint'),
 (6087375777, 'Ian McKellen'),
 (5316030161, 'Robert Downey Jr.')]

In [42]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [43]:
actors_profit2=[ ( data[(data.release_year == 2012)&(data.cast.str.contains(x))]['profit'].sum() , x) for x in actors]
actors_profit2.sort()

In [44]:
actors_profit2[:3]

[(-68109207, 'Kirsten Dunst'),
 (-51893525, 'Heidi Hawkins'),
 (-51893525, 'James Kidnie')]

In [45]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [46]:
b_mean = data['budget'].mean()

In [47]:
actors_count=[ ( len(data[(data.budget >= b_mean)&(data.cast.str.contains(x))]) , x) for x in actors]
actors_count.sort(reverse=True)
actors_count[:3]

[(18, 'Matt Damon'), (17, 'Adam Sandler'), (16, 'Angelina Jolie')]

In [48]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [49]:
nc_count=[ ( len(data[ (data.genres.str.contains(x)) & (data.cast.str.contains('Nicolas Cage')) ]) , x) for x in genres]
nc_count.sort(reverse=True)
nc_count[:3]

[(17, 'Action'), (15, 'Thriller'), (12, 'Drama')]

In [50]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [51]:
movie_studios=[]
for index, d in data.iterrows():
    movie_studios +=  [ (d.imdb_id, x) for x in d.production_companies.split('|')]

In [52]:
studios=pd.DataFrame(movie_studios, columns=['imdb_id', 'studio'])
studios

        imdb_id                                             studio
0     tt0369610                                  Universal Studios
1     tt0369610                               Amblin Entertainment
2     tt0369610                                 Legendary Pictures
3     tt0369610                            Fuji Television Network
4     tt0369610                                             Dentsu
...         ...                                                ...
6074  tt0162983                          Laurence Mark Productions
6075  tt0162983                      Columbia Pictures Corporation
6076  tt0162983  Global Entertainment Productions GmbH & Compan...
6077  tt0162983                            Nora Ephron Productions
6078  tt0163676                              Warner Bros. Pictures

[6079 rows x 2 columns]

In [53]:
data.merge(studios, on='imdb_id').groupby('studio').agg('count').sort_values(by='imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
studio,,,,,,,,,,,,,,,,,
Universal Pictures,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173
Warner Bros.,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168
Paramount Pictures,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122,122
Columbia Pictures,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117,117
Twentieth Century Fox Film Corporation,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
IFP Westcoast Erste,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
IDEA Filmproduktions,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ICF,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
I Remember Productions,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
uFilm,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [54]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [55]:
data[data.release_year == 2015].merge(studios, on='imdb_id').groupby('studio').agg('count').sort_values(by='imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
studio,,,,,,,,,,,,,,,,,
Warner Bros.,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Universal Pictures,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Twentieth Century Fox Film Corporation,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
Columbia Pictures,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Paramount Pictures,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Head Gear Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Huayi Brothers Media,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Illumination Entertainment,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ImageMovers,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Zippcast Films,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [56]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [57]:
data[data.genres.str.contains('Comedy')].merge(studios, on='imdb_id').groupby('studio').agg('sum').sort_values(by='profit', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
studio,,,,,,,,
Universal Pictures,116.025951,3826400000,12787945581,7926,46567,447.1,150539,8961545581
Walt Disney Pictures,81.307432,3845000000,11514710326,4421,43493,274.2,90335,7669710326
Twentieth Century Fox Film Corporation,68.632964,2406000000,8092960294,4372,33441,259.7,88326,5686960294
Columbia Pictures,84.290987,3740800000,9387143696,6380,39644,367.2,124504,5646343696
DreamWorks Animation,32.437293,1916000000,6705049764,1540,18104,110.3,34118,4789049764
...,...,...,...,...,...,...,...,...
Warner Bros. Pictures,3.047838,232000000,177261313,461,520,26.2,10027,-54738687
Shangri-La Entertainment,0.991683,65000000,9829214,188,96,10.0,4019,-55170786
Dark Horse Entertainment,1.689869,130000000,61648500,96,876,5.3,2013,-68351500
Road Rebel,0.640576,120000000,48668907,121,136,4.9,2010,-71331093
Mel's Cite du Cinema,0.912373,100000000,7103973,95,75,4.6,2002,-92896027

In [58]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [59]:
data[data.release_year == 2012].merge(studios, on='imdb_id').groupby('studio').agg('sum').sort_values(by='profit', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
studio,,,,,,,,
Columbia Pictures,26.856165,967000000,3468406608,1226,26933,64.2,20120,2501406608
Universal Pictures,22.154145,920000000,2901011579,1295,14131,67.2,22132,1981011579
Marvel Studios,7.637767,220000000,1519557910,143,8903,7.3,2012,1299557910
Warner Bros.,12.593044,611500000,1869520056,579,11729,30.0,10060,1258020056
Relativity Media,21.538410,669000000,1701593938,1499,10911,77.7,26156,1032593938
...,...,...,...,...,...,...,...,...
Jouror Productions,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Studio 37,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Transfilm,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
Onyx Films,1.690572,60000000,8106475,104,695,6.1,2012,-51893525
France 2 CinÃ©ma,2.602438,105500000,22954349,350,1091,16.5,6036,-82545651

In [60]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [61]:
set([ x[1] for x in movie_studios if x[1].find('Paramount') != -1])

{'Paramount Animation',
 'Paramount Classics',
 'Paramount Pictures',
 'Paramount Vantage'}

In [62]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by='profit', ascending=True)[['profit', 'original_title']]

         profit                                     original_title
926   -64831034                               K-19: The Widowmaker
1124  -60519261                                           Timeline
1723  -51788987                                               Next
1624  -46604061                                              Alfie
1632  -24805000                                            Twisted
...         ...                                                ...
731   549713380               Mission: Impossible - Ghost Protocol
1739  559709780                                       Transformers
604   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
829   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

In [63]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [64]:
data.groupby('release_year').agg('sum')['profit'].sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [65]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [66]:
set([ x[1] for x in movie_studios if x[1].find('Warner') != -1])

{'Warner Bros.',
 'Warner Bros. Animation',
 'Warner Bros. Interactive Entertainment',
 'Warner Bros. Pictures',
 'Warner Independent Pictures (WIP)'}

In [67]:
studios[studios.studio == 'Warner Bros.'].merge(data, on='imdb_id')

,imdb_id,studio,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
0,tt1617661,Warner Bros.,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2015-02-04,1937,5.2,2015,7987720
1,tt2126355,Warner Bros.,4.907832,110000000,470490832,San Andreas,Dwayne Johnson|Alexandra Daddario|Carla Gugino...,Brad Peyton,"A rescue pilot survived an earthquake, this is...",In the aftermath of a massive earthquake in Ca...,114,Action|Drama|Thriller,New Line Cinema|Village Roadshow Pictures|Warn...,2015-05-27,2060,6.1,2015,360490832
2,tt1638355,Warner Bros.,3.053421,75000000,108145109,The Man from U.N.C.L.E.,Henry Cavill|Armie Hammer|Alicia Vikander|Eliz...,Guy Ritchie,Saving the world never goes out of style.,"At the height of the Cold War, a mysterious cr...",116,Comedy|Action|Adventure,Davis Entertainment|Warner Bros.|Wigram Produc...,2015-08-13,1548,7.0,2015,33145109
3,tt2361509,Warner Bros.,2.814802,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,2015-09-24,1255,7.1,2015,159564672
4,tt1390411,Warner Bros.,2.345821,100000000,93820758,In the Heart of the Sea,Chris Hemsworth|Benjamin Walker|Cillian Murphy...,Ron Howard,Based on the incredible true story that inspir...,"In the winter of 1820, the New England whaling...",122,Thriller|Drama|Adventure|Action|History,Imagine Entertainment|Spring Creek Productions...,2015-11-20,805,6.4,2015,-6179242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,tt0199753,Warner Bros.,0.697146,80000000,33463969,Red Planet,Val Kilmer|Carrie-Anne Moss|Benjamin Bratt|Tom...,Antony Hoffman,Not A Sound. Not A Warning. Not A Chance. Not ...,Astronauts search for solutions to save a dyin...,106,Thriller|Action|Science Fiction,Village Roadshow Pictures|NPV Entertainment|Wa...,2000-11-10,132,5.3,2000,-46536031
164,tt0208988,Warner Bros.,0.660650,63600000,19412993,Get Carter,Sylvester Stallone|Miranda Richardson|Rachael ...,Stephen T. Kay,The Truth Hurts,"Jack Carter, a mob enforcer living in Las Vega...",102,Action|Drama|Thriller|Crime,Franchise Pictures|Warner Bros.|Morgan Creek P...,2000-10-06,77,5.3,2000,-44187007
165,tt0177971,Warner Bros.,0.583320,120000000,325756637,The Perfect Storm,George Clooney|Mark Wahlberg|Diane Lane|John C...,Wolfgang Petersen,The storm is coming.,"In October 1991, a confluence of weather condi...",130,Drama,Warner Bros.|Baltimore Spring Creek Production...,2000-03-15,315,5.9,2000,205756637
166,tt0160009,Warner Bros.,0.339608,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,2000-08-23,67,5.7,2000,-9800895
167,tt0217756,Warner Bros.,0.196668,24000000,12372410,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,2000-04-07,16,4.4,2000,-11627590

In [68]:
studios[studios.studio == 'Warner Bros.'].merge(data, on='imdb_id').groupby('release_year').agg('sum').sort_values(by='profit', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,profit
release_year,,,,,,,
2007,21.903728,947000000,3114367993,1630,15628,90.3,2167367993
2008,23.986384,916000000,3050595031,1366,17455,72.0,2134595031
2014,60.575824,887600000,2773903827,1476,22587,81.4,1886303827
2011,23.499629,974000000,2845393682,1248,15559,68.3,1871393682
2003,17.562360,890000000,2745493377,1085,8516,56.7,1855493377
2010,25.971078,954000000,2807128844,1341,20140,74.5,1853128844
2009,23.946700,875500000,2708981628,1216,16453,63.1,1833481628
2004,20.823418,1050000000,2725125175,1536,10924,73.8,1675125175
2013,22.296746,963500000,2599953400,1100,19352,59.9,1636453400
2005,22.482668,861000000,2412980298,1193,13203,63.0,1551980298
2001,19.498775,778000000,2206174853,1270,10317,66.3,1428174853
2012,12.593044,611500000,1869520056,579,11729,30.0,1258020056
2002,12.826783,515000000,1587248589,841,5554,46.5,1072248589
2015,30.133961,820800003,1691168351,1358,11574,75.9,870368348
2006,13.264811,851000000,1465989614,1416,7063,75.5,614989614
2000,7.315128,543900000,1015205068,1138,2117,57.5,471305068

In [69]:
data.merge(studios[studios.studio == 'Warner Bros.'], on='imdb_id').groupby('release_year').agg('sum')['profit'].sort_values()

release_year
2000     471305068
2006     614989614
2015     870368348
2002    1072248589
2012    1258020056
2001    1428174853
2005    1551980298
2013    1636453400
2004    1675125175
2009    1833481628
2010    1853128844
2003    1855493377
2011    1871393682
2014    1886303827
2008    2134595031
2007    2167367993
Name: profit, dtype: int64

In [70]:
data[data.production_companies.str.contains('Warner')].groupby('release_year').agg('sum')['profit'].sort_values(ascending=False)[:1]

release_year
2014    2295464519
Name: profit, dtype: int64

# damn!
Несмотря на [заявление ментора](https://sfdatasciencecourse1.slack.com/archives/CV73R8UQG/p1586015911045300?thread_ts=1585600564.034000&cid=CV73R8UQG) сумму надо было считать с дочками

In [71]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [72]:
data['release_month'] = pd.to_datetime(data.release_date).apply(lambda x: x.month)

In [73]:
data.groupby('release_month').agg('count').sort_values('imdb_id')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
release_month,,,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
12,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191,191
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

In [74]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [75]:
len(data[data.release_month.isin([6, 7, 8])])

450

In [76]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [77]:
data[data.release_month.isin([1, 2, 12])].groupby('director').agg('count').sort_values('imdb_id', ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
director,,,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Nancy Meyers,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GÃ¡bor CsupÃ³,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ritchie,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ferland,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Gus Van Sant,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Will Gluck,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [78]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [79]:
ym_data=data.groupby(['release_year', 'release_month']).agg('sum')
ym_maxes=ym_data.groupby('release_year').agg('max')[['profit']].rename(columns ={"profit": "max_prtofit"})
ym_data.reset_index(inplace=True)
ym_data = ym_data.merge(ym_maxes, on='release_year')
ym_data[ym_data.profit == ym_data.max_prtofit].release_month.value_counts().sort_values(ascending=False)

6     7
5     4
12    4
7     1
Name: release_month, dtype: int64

In [80]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [81]:
data['nlen'] = data.original_title.apply(len)

In [82]:
studios.merge(data, on='imdb_id').groupby('studio').agg('mean').sort_values('nlen', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,release_month,nlen
studio,,,,,,,,,,
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,11.0,83.0
"Jim Henson Company, The",0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,72654149.0,10.0,59.0
Dos Corazones,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,-2377154.0,6.0,47.0
Polsky Films,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,-14410898.0,9.0,46.0
Museum Canada Productions,1.752134,150000000.0,413106170.0,105.0,1108.0,5.9,2009.0,263106170.0,5.0,46.0
...,...,...,...,...,...,...,...,...,...,...
Everest Entertainment,0.864697,10000000.0,21587700.0,130.0,739.0,6.9,2013.0,11587700.0,5.0,3.0
Berlanti Productions,2.234573,150000000.0,128388320.0,111.0,586.0,5.9,2015.0,-21611680.0,9.0,3.0
Global Entertainment Group,0.282905,25100000.0,29506464.0,131.0,71.0,5.6,2008.0,4406464.0,10.0,2.0
XM2 Productions,0.175002,110000000.0,214948780.0,133.0,2222.0,6.7,2003.0,104948780.0,4.0,2.0
Ixtlan Productions,0.282905,25100000.0,29506464.0,131.0,71.0,5.6,2008.0,4406464.0,10.0,2.0

In [83]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [84]:
data['wlen'] = data.original_title.apply(lambda x: len(x.split()))

In [85]:
studios.merge(data, on='imdb_id').groupby('studio').agg('mean').sort_values('wlen', ascending=False)

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit,release_month,nlen,wlen
studio,,,,,,,,,,,
Four By Two Productions,1.930735,18000000.0,261572744.0,82.0,979.0,6.4,2006.0,243572744.0,11.0,83.0,12.0
"Jim Henson Company, The",0.876514,28000000.0,100654149.0,81.0,380.0,6.2,2014.0,72654149.0,10.0,59.0,10.0
Dos Corazones,0.628612,12000000.0,9622846.0,145.0,20.0,6.8,2012.0,-2377154.0,6.0,47.0,9.0
Polsky Films,0.643829,25000000.0,10589102.0,122.0,157.0,5.8,2009.0,-14410898.0,9.0,46.0,9.0
The Saul Zaentz Company,8.335347,86000000.0,898827882.0,178.5,5596.5,7.8,2001.5,812827882.0,12.0,43.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
Jolie Pas,1.769987,65000000.0,163442937.0,137.0,981.0,7.2,2014.0,98442937.0,12.0,8.0,1.0
Frantic Films,1.129322,100000000.0,82102379.0,104.0,415.0,4.3,2004.0,-17897621.0,7.0,8.0,1.0
Outpost Studios,1.145724,15000000.0,8459458.0,96.0,297.0,5.9,2009.0,-6540542.0,3.0,5.0,1.0
Cinelou Films,2.692691,7000000.0,2360281.0,102.0,255.0,6.1,2014.0,-4639719.0,9.0,4.0,1.0
Danjaq,6.200282,245000000.0,880674609.0,148.0,3254.0,6.2,2015.0,635674609.0,10.0,7.0,1.0

In [86]:
data[['original_title', 'wlen']][data.wlen > 10]

                                         original_title  wlen
1315  The Chronicles of Narnia: The Lion, the Witch ...    11
1449  Borat: Cultural Learnings of America for Make ...    12

In [87]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [88]:
import string
words=set()
for i,d in data.iterrows():
    words |= set([x.lower().strip(string.punctuation + ':') for x in d.original_title.split()])

In [89]:
len(words)

2376

In [90]:
import string
words=set()
for i,d in data.iterrows():
    words |= set([x.lower() for x in d.original_title.split()])
len(words)

2461

In [91]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [92]:
data.sort_values(by='vote_average', ascending=False).head(int(len(data)*0.01)+1)['original_title']

600                                       The Dark Knight
125                                    The Imitation Game
9                                              Inside Out
118                                          Interstellar
34                                                   Room
1082        The Lord of the Rings: The Return of the King
873                                           The Pianist
1801                                              Memento
1192                                     12 Years a Slave
128                                             Gone Girl
138                              The Grand Budapest Hotel
119                               Guardians of the Galaxy
1184                              The Wolf of Wall Street
370                                             Inception
316                                              3 Idiots
1564                Eternal Sunshine of the Spotless Mind
497     The Lord of the Rings: The Fellowship of the Ring
28                                              Spotlight
1214                                   Dallas Buyers Club
Name: original_title, dtype: object

In [93]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [94]:
import itertools
import collections

In [95]:
_actors=collections.Counter()
for i, d in data.iterrows():
    _a = d.cast.split('|')
    _actors.update([ x for x in itertools.combinations(_a, 2)])
_actors.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [96]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [97]:
directrs_films = []
for index,f in data.iterrows():
    for d in f.director.split('|'):
        directrs_films += [(f.imdb_id, d)]
directors_df = pd.DataFrame(directrs_films, columns=['imdb_id', 'single_director'])
directors_df.describe()

          imdb_id    single_director
count        2054               2054
unique       1890                998
top     tt1333125  Steven Soderbergh
freq           12                 13

In [98]:
count_y = lambda x: len([ i for i in x if i  > 0])
count_n = lambda x: len([ i for i in x if i <= 0])
data['profit_y'] = data['profit']
data['profit_n'] = data['profit']
filter=['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
res=directors_df.merge(data, on='imdb_id').groupby('single_director').aggregate({"imdb_id": len, "profit_y": count_y, "profit_n": count_n})
res['p'] = res.profit_y / res.imdb_id
res.sort_values(by='p', ascending=False)
res.reset_index(inplace=True)
res[res.single_director.isin(filter)].sort_values(by='p', ascending=False)

       single_director  imdb_id  profit_y  profit_n         p
151  Christopher Nolan        8         8         0  1.000000
748  Quentin Tarantino        7         6         1  0.857143
157     Clint Eastwood       12        10         2  0.833333
902  Steven Soderbergh       13        10         3  0.769231
791   Robert Rodriguez       11         8         3  0.727273

In [99]:
answer_ls.append(4)

# Submission

In [100]:
len(answer_ls)

36

In [101]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       1
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4